body { /* make body background color white */
  background-color: white;
}

.jumbotron {
  height: 650px;
  background-image: #626f92;
  padding: 0;
  margin-bottom: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.row {
  height: 650px;
  margin: 0;
  border-radius: 10px;
}

.col-md-7 .col-12 { 
  padding-left: 0;
} 

h1 {
  font-size: 34px; 
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  padding-top: 5%;
}

p {
  font-size: 16px;
}

.response h6 {
  padding-left: 34%;
}

.content {
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

form {
  width: 570px;
  height: 220px;
  padding-left: 19%;
  padding-top: 1%;
}

.calendar { /* align position of calendar icon to that of the input boxes */
  padding-top: 7%;
}

.form-group {
  padding-left: 30%;
}

.form-group .label {
  font-size: 16px;
  padding-left: 0;
}

.rdio {
  position: relative;
  font-size: 15px;
}

.rdio label {
  padding-left: 10px;
  cursor: pointer;
  margin-bottom: 7px !important;
}

.rdio label:before { /* edits the radio buttons */
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 0;
  content: ''; /* makes button contents empty */
  display: inline-block; 
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; /* makes button circular */
  border: 1px solid rgb(126, 124, 124);
  background: #fff;
}

.rdio-default input[type="radio"]:checked + label:before { /* changes button border color to blue once it is selected */
  border-color: rgb(64, 116, 212);
}

.rdio input[type="radio"]:checked + label::after  { /* edits button features once it is checked/selected */
  content: '';
  position: absolute;
  top: 5px;
  left: 3px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgb(64, 116, 212);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.button { /* positions the button */
  padding-left: 30%;
}

.col-md-5 img { /* edits features of the image */
  object-fit: cover;
  width: 100%; 
  height: 650px;
  border-radius: 10px;
  color: white;
  padding: 0;
}

.container{
  padding: 0;
}

.col-md-5{
  padding: 0;
}

#error /* makes error message bold */
{
  font-weight: bold;
}

input[type=number]{ /*makes color of input black */
  color: black;
}
#mm{ /* makes month options black in color */
  color: black;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 180px;
  color: white;
}