body {
  background-color: white;
}

.container{
  padding: 0;
}

.jumbotron {
  height: 616px;
  background-image: #626f92;
  box-shadow: 1px 0px 2px #ffffff;
  padding: 0;
  margin-bottom: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.row{
  height: 616px;
  margin: 0;
  border-radius: 10px;
  }

.col-md-7 { 
    padding-left: 0;
} 

h1 {
    font-size: 34px; 
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    padding-top: 5%;
}

p{
  font-size: 16px;
}

.response h6{
  padding-left: 34%;
}

.content{
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

form{
  width: 570px;
  height: 220px;
  padding-left: 19%;
  padding-top: 1%;
}

.calendar
{
  padding-top: 7%;
}

.form-group{
  padding-left: 30%;
}

.form-group .label{
  font-size: 16px;
  padding-left: 0;
}

.rdio {
  position: relative;
  font-size: 15px;
}

.rdio label {
  padding-left: 10px;
  cursor: pointer;
  margin-bottom: 7px !important;
}

.rdio label:before { /* edits the radio buttons */
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 0;
  content: ''; /* makes button contents empty */
  display: inline-block; 
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; /* makes button circular */
  border: 1px solid rgb(126, 124, 124);
  background: #fff;
}

.rdio-default input[type="radio"]:checked + label:before { /* changes button border color to black once it is selected */
  border-color: black;
}

.rdio input[type="radio"]:checked + label::after  { /* edits button features once it is checked/selected */
  content: '';
  position: absolute;
  top: 5px;
  left: 3px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgb(64, 116, 212);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.button{
  padding-left: 30%;
}
.col-md-5 {
  background-image: url("../child2.jpg");
  background-position: center;
  width: 100%; 
  height: 616px;
  border-radius: 10px;
  padding-right: 10px;
  color: white;
}
.results  {
  color: #bd5d38;
  font-size: 50px;

  font-family: 'Saira Extra Condensed',serif;
  font-weight: 700;
  text-transform: uppercase;
  color: purple;
  font-size: 18px;
  text-align: center;
}

/*
.rdio input[type="radio"] {
  opacity: -10;
}

.rdio input[type="radio"]:disabled + label  {
  color: #999;
}

.rdio input[type="radio"]:disabled + label:before  {
  background-color: #eee;
}


.rdio-primary input[type="radio"]:checked + label:before {
  border-color: #428BCA;
}

.rdio-primary input[type="radio"]:checked + label::after {
  background-color: #428BCA;
}

.rdio-warning input[type="radio"]:checked + label:before {
  border-color: #F0AD4E;
}

.rdio-warning input[type="radio"]:checked + label::after {
  background-color: #F0AD4E;
}

.rdio-success input[type="radio"]:checked + label:before {
  border-color: #1CAF9A;
}

.rdio-success input[type="radio"]:checked + label::after {
  background-color: #1CAF9A;
}

.rdio-danger input[type="radio"]:checked + label:before {
  border-color: #D9534F;
}

.rdio-danger input[type="radio"]:checked + label::after {
  background-color: #D9534F;
}
*/